body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.profile-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.social-links a {
    margin: 0 10px;
    font-size: 24px;
    color: #0077b5; /* Cor do LinkedIn */
}

.social-links a:hover {
    color: #005582; /* Cor do LinkedIn ao passar o mouse */
}
